---
import { t } from '../../i18n/server';
import { e, client } from '../../lib/db';
import Base from '../../layouts/base.astro';
import TextRaw from '../TextRaw.astro';

interface Props {
    token: string;
}

const { token } = Astro.props;

const proceeding = await e
    .select(e.Proceeding, () => ({
        appName: true,

        filter_single: { token },
    }))
    .assert_single()
    .run(client);

if (!proceeding) throw new Error('This should never happen.');
---

<Base
    title={t('proceeding-landing-initialAnalysisFoundNothing', `heading`, {
        appName: proceeding.appName,
    })}>
    <p>
        <TextRaw scope="proceeding-landing-initialAnalysisFoundNothing" id="explanation" />
    </p>

    <h2>{t('proceeding-landing-initialAnalysisFoundNothing', `what-heading`)}</h2>

    <p>
        {t('proceeding-landing-initialAnalysisFoundNothing', `what-explanation`)}
    </p>
</Base>
