.radio-wrapper .radio-label {
    font-family:
        FiraGO,
        Fira Sans,
        Helvetica,
        sans-serif;
    font-size: 16px;
    text-align: left;
}

hr {
    margin: 2em 0;
}

#home-hero .container #home-hero-content {
    .hero-left-col,
    .hero-right-col {
        flex: unset;
    }
}

.button-list-vertical {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    button {
        text-align: left;
        margin-bottom: 12px;
    }

    .button-with-addon-group {
        display: flex;
        flex-direction: row;
        column-gap: 8px;

        button {
            flex-grow: 1;
        }

        .button-addon {
            flex-grow: 0;
        }
    }
}

%sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.radio-wrapper {
    &:hover,
    &:focus,
    &:focus-within {
        & > .radio-label {
            background-color: #192a4a !important;
            color: #f7fafc;
        }
    }

    input[type='radio'].form-element {
        appearance: none;
        @extend %sr-only;
    }

    input[type='radio']:checked + .radio-label {
        background-color: #214192;
        color: #f7fafc;
    }
}
