---
import '../styles/main.scss'
import '@datenanfragen/components/dist/index.css'
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
    </head>
    <body>
        <aside id="flash-messages"></aside>
        <div class="container">
            Hello world.
        </div>
    </body>
</html>
