---
import { t } from '../i18n/server';
import { absUrl } from '../lib/util';

interface Props {
    token: string;
}
---

<form action={absUrl(`/p/${Astro.props.token}/upload`)} enctype="multipart/form-data" method="post">
    <label for="upload" class="sr-only">{t('send-notice', 'choose-file')}</label>
    <input type="file" id="upload" name="upload" accept=".pdf,.eml" required />
    <button class="button button-primary button-small" type="submit">{t('send-notice', 'upload')}</button>
</form>
