---
import { t } from '../../i18n/server';
import Base from '../../layouts/base.astro';
import { absUrl } from '../../lib/util';
import TextRaw from '../TextRaw.astro';
import RadioForm from '../RadioForm.astro';

interface Props {
    token: string;
    complaintType: string | null | undefined;
}

const { token, complaintType } = Astro.props;
---

<Base title={t('complaint-landing-askComplaintType', 'heading')}>
    <p>
        <TextRaw scope="complaint-landing-askComplaintType" id="explanation" />
    </p>

    <ol>
        <li><TextRaw scope="complaint-landing-askComplaintType" id="formal-complaint-explanation" /></li>
        <li>{t('complaint-landing-askComplaintType', 'informal-complaint-explanation')}</li>
    </ol>

    <RadioForm
        actionUrl={absUrl(`/p/${token}/complain/askComplaintType/answer`)}
        options={(['formal', 'informal'] as const).reduce(
            (agg, type) =>
                Object.assign(agg, {
                    [type]: t('complaint-landing-askComplaintType', `${type}-complaint-button`),
                }),
            {},
        )}
        value={complaintType}
        idPrefix="askComplaintType"
    />
</Base>
