---
import { t } from '../../i18n/server';
import Base from '../../layouts/base.astro';
import { absUrl } from '../../lib/util';
import TextRaw from '../TextRaw.astro';
import RadioForm from '../RadioForm.astro';

interface Props {
    token: string;
    deviceHasRegisteredSimCard: boolean | null;
}

const { token, deviceHasRegisteredSimCard } = Astro.props;
---

<Base title={t('complaint-landing-askDeviceHasRegisteredSimCard', 'heading')}>
    <p>
        <TextRaw scope="complaint-landing-askDeviceHasRegisteredSimCard" id="explanation" />
    </p>

    <RadioForm
        actionUrl={absUrl(`/p/${token}/complain/askDeviceHasRegisteredSimCard/answer`)}
        options={(['yes', 'no'] as const).reduce(
            (agg, p) =>
                Object.assign(agg, {
                    [p]: t('common', p),
                }),
            {},
        )}
        value={deviceHasRegisteredSimCard === null ? null : deviceHasRegisteredSimCard ? 'yes' : 'no'}
        idPrefix="askDeviceHasRegisteredSimCard"
    />
</Base>
