---
import { t } from '../../i18n/server';
import Base from '../../layouts/base.astro';
import { absUrl } from '../../lib/util';
import TextRaw from '../TextRaw.astro';
import RadioForm from '../RadioForm.astro';

interface Props {
    token: string;
    complainantIsUserOfApp: boolean | null;
}

const { token, complainantIsUserOfApp } = Astro.props;
const isChecked = (p: string) =>
    (complainantIsUserOfApp === true && p === 'yes') || (complainantIsUserOfApp === false && p === 'no');
---

<Base title={t('complaint-landing-askIsUserOfApp', 'heading')}>
    <p>
        <TextRaw scope="complaint-landing-askIsUserOfApp" id="question" />
    </p>

    <RadioForm
        actionUrl={absUrl(`/p/${token}/complain/askIsUserOfApp/answer`)}
        options={(['yes', 'no'] as const).reduce(
            (agg, p) =>
                Object.assign(agg, {
                    [p]: t('common', p),
                }),
            {},
        )}
        value={complainantIsUserOfApp === null ? null : complainantIsUserOfApp ? 'yes' : 'no'}
        idPrefix="askIsUserOfApp"
    />
</Base>
