---
import { t } from '../../i18n/server';
import Base from '../../layouts/base.astro';
import { absUrl } from '../../lib/util';
import TextRaw from '../TextRaw.astro';
import RadioForm from '../RadioForm.astro';

interface Props {
    token: string;
    platform: 'ios' | 'android';
    loggedIntoAppStore: boolean | null;
}

const { token, platform, loggedIntoAppStore } = Astro.props;

const store = t('common', `store-${platform}`);
---

<Base title={t('complaint-landing-askLoggedIntoAppStore', 'heading')}>
    <p>
        <TextRaw scope="complaint-landing-askLoggedIntoAppStore" id="explanation" fields={{ store }} />
    </p>

    <RadioForm
        actionUrl={absUrl(`/p/${token}/complain/askLoggedIntoAppStore/answer`)}
        options={(['yes', 'no'] as const).reduce(
            (agg, p) =>
                Object.assign(agg, {
                    [p]: t('complaint-landing-askLoggedIntoAppStore', p, { store }),
                }),
            {},
        )}
        value={loggedIntoAppStore === null ? null : loggedIntoAppStore ? 'yes' : 'no'}
        idPrefix="askLoggedIntoAppStore"
    />
</Base>
