---
import { t } from '../../i18n/server';
import Base from '../../layouts/base.astro';
import { absUrl } from '../../lib/util';
import TextRaw from '../TextRaw.astro';

interface Props {
    token: string;
    platform: 'ios' | 'android';
}

const { token, platform } = Astro.props;
---

<Base title={t('complaint-landing-askUserNetworkActivity', 'heading')}>
    <p>
        <TextRaw scope="complaint-landing-askUserNetworkActivity" id={`explanation-${platform}`} />
    </p>

    <form action={absUrl(`/p/${token}/complain/askUserNetworkActivity`)} enctype="multipart/form-data" method="post">
        <label for="upload" class="sr-only">{t('complaint-landing-askUserNetworkActivity', 'choose-file')}</label>
        <input type="file" id="upload" name="upload" accept={platform === 'android' ? '.csv' : '.ndjson'} required />
        <button class="button button-primary button-small" type="submit">
            {t('complaint-landing-askUserNetworkActivity', 'upload')}
        </button>
    </form>
</Base>
